.vs

LICENSE
.editorconfig
global.json
README.md
nuget.png
.gitattributes
Directory.build.props
Directory.build.targets

\Plugin.Xamarin.OCR\bin
\Plugin.Xamarin.OCR\obj

\Plugin.Xamarin.OCR.Sample\Plugin.Xamarin.OCR.Sample\bin
\Plugin.Xamarin.OCR.Sample\Plugin.Xamarin.OCR.Sample\obj

\Plugin.Xamarin.OCR.Sample\Plugin.Xamarin.OCR.Sample.Android\bin
\Plugin.Xamarin.OCR.Sample\Plugin.Xamarin.OCR.Sample.Android\obj